# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
admin/node_modules
matching-app/node_modules
admin/.pnp
matching-app/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
admin/coverage
matching-app/coverage

# next.js
admin/.next/
admin/out/
matching-app/.next/
matching-app/out/

# production
admin/build
matching-app/build
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
